/* /Pages/admin/AdminLayout.razor.rz.scp.css */
.sidebar[b-xiwgxqwll2] {
    margin-left: 20px;
    margin-top:3%;
    padding: 0;
    padding-top:20px;
    width: 300px;
    background-color: transparent;
    position: fixed;
    height: 70%;
    overflow: auto;
    border-width:200px;
    border-style:groove;
    border-color:blue;
}

 .sidebar[b-xiwgxqwll2]  a, .sidebar a[b-xiwgxqwll2] {
        display: block;
        color: black;
        padding: 16px;
        margin: 20px;
        border-radius: 20px;
        text-decoration: none;
    }

    .sidebar[b-xiwgxqwll2]   a.active, .sidebar a.active[b-xiwgxqwll2] {
        background-color: #04AA6D;
        color: white;
    }

    .sidebar[b-xiwgxqwll2]  a:hover:not(.active) {
        background-color: #555;
        color: white;
    }

div.content[b-xiwgxqwll2] {
    margin-left: 325px;
    margin-top: 20px;
    padding: 1px 16px;
    border-left-color: brown;
    border-left-style: solid;
    border-width: 20px;
    margin-bottom: 20px;
    border-radius:20px;
}

@media screen and (max-width: 700px) {
    .sidebar[b-xiwgxqwll2] {
        width: 100%;
        margin:0;
        height: auto;
        position: relative;
    }

        .sidebar[b-xiwgxqwll2]  a , .sidebar a[b-xiwgxqwll2] {
            float: left;
        }

    div.content[b-xiwgxqwll2] {
        margin-left: 0;

    }
}

@media screen and (max-width: 400px) {
    .sidebar[b-xiwgxqwll2]  a, .sidebar a[b-xiwgxqwll2] {
        text-align: center;
        float: none;
        margin: 0;
    }
}
/* /Pages/admin/AdminSidebar.razor.rz.scp.css */
.sidebar[b-vejtycf7so] {
    margin-left: 20px;
    margin-top: 3%;
    padding: 0;
    padding-top: 20px;
    width: 300px;
    background-color: transparent;
    position: fixed;
    height: 70%;
    overflow: auto;
    border-width: 200px;
    border-style: groove;
    border-color: blue;
}

    .sidebar[b-vejtycf7so]  a, .sidebar a[b-vejtycf7so] {
        display: block;
        color: black;
        padding: 16px;
        margin: 20px;
        border-radius: 20px;
        text-decoration: none;
    }

        .sidebar[b-vejtycf7so]  a.active, .sidebar a.active[b-vejtycf7so] {
            background-color: #04AA6D;
            color: white;
        }

        .sidebar[b-vejtycf7so]  a:hover:not(.active) {
            background-color: #555;
            color: white;
        }


@media screen and (max-width: 700px) {
    .sidebar[b-vejtycf7so] {
        width: 100%;
        margin: 0;
        height: auto;
        position: relative;
    }

        .sidebar[b-vejtycf7so]  a, .sidebar a[b-vejtycf7so] {
            float: left;
        }

    div.content[b-vejtycf7so] {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar[b-vejtycf7so]  a, .sidebar a[b-vejtycf7so] {
        text-align: center;
        float: none;
        margin: 0;
    }
}
/* /Pages/admin/Login.razor.rz.scp.css */
body[b-gspf0dr45j] {
background-color:red;
}
/* /Pages/Index.razor.rz.scp.css */

.home[b-vj35qpn380]{
    overflow-y:hidden;
}
.background[b-vj35qpn380] {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    margin: 0;
    position: absolute;
    z-index: 1;
    background-color: darkslategrey;
}

.PortfolioImg[b-vj35qpn380] {
    z-index: 2;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    background-color: transparent;
    position: absolute;
    margin-right: 0px;
    overflow-y: unset;
    overflow-x:hidden;

}

.image[b-vj35qpn380] {
    width: auto;
    height:700px;
    padding-left:60%;
}

.overview[b-vj35qpn380] {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    z-index: 3;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    background: linear-gradient(to top right,black 55%,transparent 50%);
    position: absolute;
    overflow-y: unset;
}
.name[b-vj35qpn380]{
    color:red;
}
.description[b-vj35qpn380]{
    padding-top:30px;
    width:600px;
    color:white;
    font-size:30px;
}
@media screen and (max-width: 1000px){
    .PortfolioImg[b-vj35qpn380] {
        position: sticky;
        height: 400px;
        max-height: 400px;
        overflow-y: hidden;
        padding-bottom: 0px;
    }
    .image[b-vj35qpn380]{
        height:400px;
        max-height:400px;
        padding-left:25%;
        margin-top: 50px;
        margin-bottom:0px;
    }
    .overview[b-vj35qpn380] {
        position: relative;
        background-color: black;
    }
}
/* /Pages/MoreInfo.razor.rz.scp.css */
body[b-llgpwf4ksf] {
}
/* /Pages/Project.razor.rz.scp.css */
.project[b-5sr7drx3qm]{


    background-color:darkslategray;
    border-radius:5px;
    width:90%;
    


}

/* /Pages/Projects.razor.rz.scp.css */
.projects[b-69k3stjjs5] {
    width: 100%;
    max-width: 100%;
    background-color: black;
    padding-left: 10%;
    overflow-x: hidden;
    overflow-y: hidden;

}
}
/* /Shared/MainLayout.razor.rz.scp.css */
.bg-body[b-jrnm6adtvk] {
    height: -webkit-fill-available;
    margin-top: 0;
}

.page[b-jrnm6adtvk] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-jrnm6adtvk] {
    flex: 1;
}

.sidebar[b-jrnm6adtvk] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-jrnm6adtvk] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-jrnm6adtvk]  a, .top-row .btn-link[b-jrnm6adtvk] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-jrnm6adtvk] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-jrnm6adtvk] {
        display: none;
    }

    .top-row.auth[b-jrnm6adtvk] {
        justify-content: space-between;
    }

    .top-row a[b-jrnm6adtvk], .top-row .btn-link[b-jrnm6adtvk] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-jrnm6adtvk] {
        flex-direction: row;
    }

    .sidebar[b-jrnm6adtvk] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-jrnm6adtvk] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-jrnm6adtvk], article[b-jrnm6adtvk] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar[b-qg6lvvkgw4] {
    position: sticky;
    z-index:100;

    top: 0;
    overflow: hidden;
    width: 100%;
    height: auto;
}
