html, body {
    height: 100%;
    margin: 0;
    width: 100%;
    max-width: 100%;
    background-color: "black";
    margin-top: 0;
    scroll-behavior: smooth;
    scroll-margin: 5px;
    scrollbar-base-color: blue;
    scrollbar-3dlight-color: red;
}
