@page "/admindashboard/add/profile"
@page "/admindashboard/profile/{email}/update"
@layout AdminLayout
@inject HttpClient client 
@using portfolioClient.Repository;
@inject NavigationManager Mav
@if (string.IsNullOrEmpty(profile.name))
{
    <h3>Add Profile</h3>
}
else
{
    <h3>
        Update Profile
    </h3>
}

<ProfileForm _profile="@profile"  url="@url">
    


</ProfileForm>
@code {
    public ProfileRepository profile { get; set; } = new();
    [Parameter]
    public string email { get; set; }
    public Uri url;
    protected override async Task OnInitializedAsync()
    {
        if (Mav.Uri.Replace(Mav.BaseUri,"")=="admindashboard/add/profile") {
            url = new Uri("https://localhost:7210/api/Profile/"); 

        profile = new ProfileRepository(); }
        else
        {
            url = new Uri($"https://localhost:7210/api/Profile/update/{email}");
            profile = await client.GetFromJsonAsync<ProfileRepository>("https://localhost:7210/api/Profile/" + email);
        }

    }


}
