
.home{
    overflow-y:hidden;
}
.background {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    margin: 0;
    position: absolute;
    z-index: 1;
    background-color: darkslategrey;
}

.PortfolioImg {
    z-index: 2;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    background-color: transparent;
    position: absolute;
    margin-right: 0px;
    overflow-y: unset;
    overflow-x:hidden;

}

.image {
    width: auto;
    height:700px;
    padding-left:60%;
}

.overview {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    z-index: 3;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    background: linear-gradient(to top right,black 55%,transparent 50%);
    position: absolute;
    overflow-y: unset;
}
.name{
    color:red;
}
.description{
    padding-top:30px;
    width:600px;
    color:white;
    font-size:30px;
}
@media screen and (max-width: 1000px){
    .PortfolioImg {
        position: sticky;
        height: 400px;
        max-height: 400px;
        overflow-y: hidden;
        padding-bottom: 0px;
    }
    .image{
        height:400px;
        max-height:400px;
        padding-left:25%;
        margin-top: 50px;
        margin-bottom:0px;
    }
    .overview {
        position: relative;
        background-color: black;
    }
}