.sidebar[b-xiwgxqwll2] {
    margin-left: 20px;
    margin-top:3%;
    padding: 0;
    padding-top:20px;
    width: 300px;
    background-color: transparent;
    position: fixed;
    height: 70%;
    overflow: auto;
    border-width:200px;
    border-style:groove;
    border-color:blue;
}

 .sidebar[b-xiwgxqwll2]  a, .sidebar a[b-xiwgxqwll2] {
        display: block;
        color: black;
        padding: 16px;
        margin: 20px;
        border-radius: 20px;
        text-decoration: none;
    }

    .sidebar[b-xiwgxqwll2]   a.active, .sidebar a.active[b-xiwgxqwll2] {
        background-color: #04AA6D;
        color: white;
    }

    .sidebar[b-xiwgxqwll2]  a:hover:not(.active) {
        background-color: #555;
        color: white;
    }

div.content[b-xiwgxqwll2] {
    margin-left: 325px;
    margin-top: 20px;
    padding: 1px 16px;
    border-left-color: brown;
    border-left-style: solid;
    border-width: 20px;
    margin-bottom: 20px;
    border-radius:20px;
}

@media screen and (max-width: 700px) {
    .sidebar[b-xiwgxqwll2] {
        width: 100%;
        margin:0;
        height: auto;
        position: relative;
    }

        .sidebar[b-xiwgxqwll2]  a , .sidebar a[b-xiwgxqwll2] {
            float: left;
        }

    div.content[b-xiwgxqwll2] {
        margin-left: 0;

    }
}

@media screen and (max-width: 400px) {
    .sidebar[b-xiwgxqwll2]  a, .sidebar a[b-xiwgxqwll2] {
        text-align: center;
        float: none;
        margin: 0;
    }
}